OPENROUTER_API_KEY=<your_openrouter_api_key_here>
E2B_API_KEY=<your_e2b_api_key_here>
DATABASE_HOST=<your_supabase_transaction_pooler_host>
DATABASE_PORT=6543
DATABASE_USER=<your_supabase_transaction_pooler_user>
DATABASE_PASSWORD=<your_supabase_database_password>